<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Converto</title>
    <link rel= "stylesheet" href=
    "{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="container">
        <div class="top_container">
            <img class="img" src="/static/images/c4793753acc24c0fb6c8a381da2e0841.png" alt="Image Converto">
            <div class="wrap_top_container">
                Image Converto
            </div>
        </div>
        <div class="bottom_container">
            <div class="wrap_bottom_container">
                <form action="/" method="POST" enctype="multipart/form-data">
                    <div class="drop_zone" id="drop_zone">
                        <input type="file" id="file" name="file" style="display: none">
                        <label for="file"><i class="material-symbols-outlined">note_add
                        </i><p class="arrow-down">Select File</p>
                        </label>
                        <div class="file_name_display" id="file_name_display"></div>
                        <div class="file_name_extention_display" id="file_name_extention_display" style="display: none;"></div>
                        <p class="text_to_text" id="text_to_text" style="display: none;">To</p>
                        <select id="format_selector" name="format_selector" title="format_selector">
                            <option value=".png">PNG</option>
                            <option value=".jpeg">JPEG</option>
                            <option value=".gif">GIF</option>
                            <option value=".tiff">TIFF</option>
                            <option value=".pdf">PDF</option>
                            <option value=".heic">HEIC</option>
                            <option value=".bmp">BMP</option>
                            <option value=".svg">SVG</option>
                            <option value=".ico">ICO</option>
                        </select>
                        <button id="convert_image_btn" name="convert_image_btn" style="display: none;"></button>
                        <label for="convert_image_btn" id="convert_image_btn_lable" style="display: none;" ><i class="material-symbols-outlined">autorenew
                        </i><p>Convert</p>
                        </label>
                    </div>
                    </form>
                    # Image-Converto
                    A web base application that converts any image format to the selected format
                    ![image](https://github.com/yousefturin/Image-Converto/assets/94796673/23039520-21fc-4bf0-b658-3d199e895e50)
                    
            </div>
        </div>
    </div>
        <script 
            src="{{url_for('static', filename='styles/script.js')}}">
        </script>
</body>
<footer class=" footer" > 
    <p>© Copyrights YUSEFTURIN. All rights reserved <span id="current-year"></span></p>
    <p>Türkiye | <a style="text-decoration:none;font-weight: bold;" href="mailto:yusefturin@gmail.com">contact@yusefturin.com</a></p>

</footer>
</html>