<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Converto</title>
    <link rel= "stylesheet" href=
    "{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
        </style>
                        <script 
                        src="https://code.jquery.com/jquery-3.6.0.min.js">
                </script>
</head>
<body>
    <div class="container">
        <div class="top_container">
            <a href="/"><img class="img" src="/static/images/c4793753acc24c0fb6c8a381da2e0841.png" alt="Image Converto" ></a>
            <div class="wrap_top_container">
                Image Converto
            </div>
        </div>
        <div class="bottom_container">
            <div class="wrap_bottom_container">
                    <div class="error_message" id="error_message" style="display: none;"></div>
                <form action="/upload_image" method="POST" enctype="multipart/form-data" id="form_open">
                    <div class="drop_zone" id="drop_zone">
                        <input type="file" id="file" name="file" style="display: none">
                        <label id="file-label" for="file"><i class="material-symbols-outlined">note_add
                        </i><p class="arrow-down">Select File</p>
                        </label>
                        <div class="file_name_display" id="file_name_display"></div>
                        <div class="file_name_extention_display" id="file_name_extention_display" style="display: none;"></div>
                        <p class="text_to_text" id="text_to_text" style="display: none;">To</p>
                        <div class="custom-select" id="format_selector">
                            <div class="selected-option">...</div>
                            <ul class="options">
                                <li data-value=".png">PNG</li>
                                <li data-value=".jpeg">JPEG</li>
                                <li data-value=".jpg">JPG</li>
                                <li data-value=".gif">GIF</li>
                                <li data-value=".tiff">TIFF</li>
                                <li data-value=".pdf">PDF</li>
                                <li data-value=".heic">HEIC</li>
                                <li data-value=".bmp">BMP</li>
                                <li data-value=".svg">SVG</li>
                                <li data-value=".ico">ICO</li>
                            </ul>
                            <select name="format_selector" id="format_hidden_select" style="display: none;">
                                <option value=".default" disabled selected>Select Format</option>
                                <option value=".png">PNG</option>
                                <option value=".jpeg">JPEG</option>
                                <option value=".jpg">JPG</option>
                                <option value=".gif">GIF</option>
                                <option value=".tiff">TIFF</option>
                                <option value=".pdf">PDF</option>
                                <option value=".heic">HEIC</option>
                                <option value=".bmp">BMP</option>
                                <option value=".svg">SVG</option>
                                <option value=".ico">ICO</option>
                            </select>
                        </div>
                        <button id="convert_image_btn" name="convert_image_btn" style="display: none;"></button>
                        <label for="convert_image_btn" id="convert_image_btn_lable" style="display: none;" ><i class="material-symbols-outlined">autorenew
                        </i><p>Convert</p>
                        </label>
                    </div>
                    <span id="cancel_button" class="material-symbols-outlined" style="display: none;">
                        cancel
                        </span>
                    </form> 
            </div>
        </div>
        <div class="info_container">
            <div class="wrap_info_container">
                <div class="left_top_info_container">
                    <span class="material-symbols-outlined">
                        shield_lock
                        </span>
                        <p>The image data transfer is encrypted to provide the highest possible level of security.</p>
                </div>
                <div class="right_top_info_container">
                    <span class="material-symbols-outlined">
                        manage_accounts
                        </span>
                        <p>With our service, you are able to redownload all of your images conversion history.</p>
                </div>
                <div class="bottom_left_info_container">
                    <span class="material-symbols-outlined">
                        cloud_sync
                        </span>
                        <p>The images are stored in the cloud, and you are provided with 2 GB of cloud storage for them.</p>
                </div>
                <div class="bottom_right_info_container">
                    <span class="material-symbols-outlined">
                        compare
                        </span>
                        <p>Our service guarantees the highest possible quality for your conversions.</p>
                </div>
            </div>
        </div>
    </div>
        <script 
            src="{{url_for('static', filename='styles/script.js')}}">
        </script>
</body>
    <footer class=" footer" > 
        <p>© Copyrights YUSEFTURIN. All rights reserved <span id="current-year"></span></p>
            <p>Türkiye | <a style="text-decoration:none;font-weight: bold;" href="mailto:yusefturin@gmail.com">contact@yusefturin.com</a></p>
    </footer>
</html>